<div class="shell user-form">
  <h4 class="offset-top-80 heading-divider text-left text-nowrap user-title-form">User Management</h4>

  <%= simple_form_for @user, html: { class: 'offset-top-70 text-md-left rd-mailform'} do |f| %>
    <%= render 'form', f: f %>

    <div class="col-sm-offset-3">
      <%= f.button :button, class: 'btn-primary' %>
    </div>
  <% end =%>
</div>

