<% content_for :breadcrumbs do %>
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><%= link_to 'My Properties', properties_path %></li>
    <li class="active"><%= @property.name %></li>
  </ol>
<% end %>

<div class="shell property-form">
  <h4 class="offset-top-80 heading-divider text-left text-nowrap">Edit Property</h4>

  <%= render 'form', property: @property %>
</div>


<%= link_to 'Back', properties_path %>
