<% content_for :breadcrumbs do %>
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><%= link_to 'Contacts', contacts_path %></li>
    <li class="active"><%= @contact.full_name %></li>
  </ol>
<% end %>

<div class="shell contact-form">
  <h4 class="offset-top-80 heading-divider text-left text-nowrap">Edit Contact</h4>

  <%= render 'form', contact: @contact %>
</div>


<%= link_to 'Back', contacts_path %>
