
.table.index-user {
  //width: 70%;
  line-height: 0px;
  margin-top: 40px;

  td {
    padding: 0 5px;
    line-height: 30px;
    text-align: left;
  }
}

.user-form {
  max-width: 400px;
}


.user-title-form {
  max-width: none;
}
